.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 5px;
}
.container > *{
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .container > * {
    margin-bottom: 10px;
  }
}

/*

*/