h2{
  color: black;
}
.skills-section {
  text-align: center;
  padding: 2rem;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  
}

.skill {
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.skill:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.skill i {
  font-size: 2rem;
  margin-right: 1rem;
}
